<p id="notice"><%= notice %></p>

<p>
  <b>Business:</b>
  <%= @business.business_id %>
</p>

<p>
  <b>Name:</b>
  <%= @business.name %>
</p>

<p>
  <b>Full address:</b>
  <%= @business.full_address %>
</p>

<p>
  <b>City:</b>
  <%= @business.city %>
</p>

<p>
  <b>State:</b>
  <%= @business.state %>
</p>

<p>
  <b>Latitude:</b>
  <%= @business.latitude %>
</p>

<p>
  <b>Longitude:</b>
  <%= @business.longitude %>
</p>


<%= link_to 'Edit', edit_business_path(@business) %> |
<%= link_to 'Back', businesses_path %>
